:host{
    .content{
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        background-color: #f1f1f1;
        cursor: pointer;
        .content-1{
            font-family: ui-sans-serif;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
            background-color: #2f7f80;
            cursor: pointer;
            border-radius: 6px;
            color: #fff;
            min-height:100vh;
        }
    }
}