<div class="content col-md-6 offset-md-3">
        <div class="content-1 card card-outline-secondary">
                <div class="card-header mt-5 text-center">
                    <h2 name="welcome-header">Welcome !!</h2>
                </div>
                <div class="card-body">

                </div>
        </div> 
</div>
