:host{
    .content{
        font-family: ui-sans-serif;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        background-color: #2f7f80;
        cursor: pointer;
        border-radius: 6px;
        color:#fff;
        min-height:100vh;
        .row{
            min-height:100px;
        }
        ::ng-deep input{
            min-width: 250px;
            height: 45px;
            border-radius: 8px;
            border: 2px solid #fff;
            font-size: 20px;
            color: #0b172d;
        }
        label{
            color: #fff;
            font-size: 21px;
            display: inline-block;
        }
        button{
            min-width: 250px;
            height: 50px;
            border-radius: 10px;
            font-size: 20px;
            border: 2px solid #4b4873;
            text-align: center;
            background-color: #4b4873;
            color: #fff;
        }
        .error-text{
            color: #dc9a9a;
            font-size: 16px;
            padding-top: 4px;
            font-family: ui-serif;
            min-width:300px;
        }
    }
}