<div class="content card card-outline-secondary">
  <div class="card-header">
      <h2 name="register-header">Register with us</h2>
  </div>
    <div class="card-body">
      <form class="form" role="form" [formGroup]="registrationForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="firstName">First Name</label><br>
            <input placeholder="First Name" formControlName="firstName" name="firstName"/>
            <div *ngIf="isSubmitted && f.firstName.errors" class="error-text">
              <ng-container *ngIf="f.firstName.errors.required">
                * First Name is required. <br />
              </ng-container>
              <ng-container *ngIf="f.firstName.errors.minlength">
                * First Name should have atleast
                {{ f.firstName.errors.minlength.requiredLength }} characters.
                <br />
              </ng-container>
              <ng-container *ngIf="f.firstName.errors.maxlength">
                * First Name can have maximim
                {{ f.firstName.errors.maxlength.requiredLength }} characters.
                <br />
              </ng-container>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label><br>
            <input placeholder="Last Name" formControlName="lastName" name="lastName"/>
            <div *ngIf="isSubmitted && f.lastName.errors" class="error-text">
              <ng-container *ngIf="f.lastName.errors.required">
                * Last Name is required. <br />
              </ng-container>
              <ng-container *ngIf="f.lastName.errors.minlength">
                * Last Name should have atleast
                {{ f.lastName.errors.minlength.requiredLength }} characters.
                <br />
              </ng-container>
              <ng-container *ngIf="f.lastName.errors.maxlength">
                * Last Name can have maximim
                {{ f.lastName.errors.maxlength.requiredLength }} characters.
                <br />
              </ng-container>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <app-email formControlName="email"></app-email>
            <div *ngIf="isSubmitted && f.email.errors" class="error-text">
              <ng-container *ngIf="f.email.errors.required">
                * Email address is required. <br />
              </ng-container>
              <ng-container *ngIf="!f.email.errors.required">
                * Invalid email address. <br />
              </ng-container>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <app-password formControlName="password"></app-password>
            <div
              *ngIf="isSubmitted && f.password.errors"
              class="error-text text-break"
            >
              <ng-container *ngIf="f.password.errors.required">
                * Password is required. <br />
              </ng-container>
              <ng-container *ngIf="f.password.errors.minlength">
                * Password must be atleast
                {{ f.password.errors.minlength.requiredLength }} <br />
              </ng-container>
              <ng-container *ngIf="f.password.errors.passwordStrength">
                * {{ f.password.errors.passwordStrength }} <br />
              </ng-container>
            </div>
            <div
              *ngIf="isSubmitted && registrationForm.errors"
              class="error-text text-break"
            >
              <ng-container *ngIf="registrationForm.errors.pwdfName">
                * {{ registrationForm.errors.pwdfName }} <br />
              </ng-container>
              <ng-container *ngIf="registrationForm.errors.pwdlName">
                * {{ registrationForm.errors.pwdlName }} <br />
              </ng-container>
            </div>
        </div>
        <div class="form-group">
          <button type="submit" name="submit-button-input"  class="btn btn-success btn-lg float-right">
            Submit
          </button>
        </div>
      </form>
    </div>
</div>
